<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drawingpsychologicaltest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".paint.ActivityPaint1"/>
        <activity android:name=".result.ResultActivity1"/>
        <activity android:name=".paint.ActivityPaint2"/>
        <activity android:name=".result.ResultActivity2"/>
        <activity android:name=".paint.ActivityPaint3"/>
        <activity android:name=".result.ResultActivity3"/>
        <activity android:name=".paint.ActivityPaint4"/>
        <activity android:name=".result.ResultActivity4"/>
        <activity android:name=".paint.ActivityPaint5"/>
        <activity android:name=".result.ResultActivity5"/>
        <activity android:name=".paint.ActivityPaint6"/>
        <activity android:name=".result.ResultActivity6"/>
        <activity android:name=".paint.ActivityPaint7"/>
        <activity android:name=".result.ResultActivity7"/>
        <activity android:name=".paint.ActivityPaint8"/>
        <activity android:name=".result.ResultActivity8"/>

    </application>

</manifest>